
.cell {
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

  background-color: white;
}

.cell.active {
  background-color: aquamarine;
}

.cell.available-8 {
  background-color: rgba(0, 255, 0, 0.1);
}

.cell.available-7 {
  background-color: rgba(0, 255, 0, 0.15);
}

.cell.available-6 {
  background-color: rgba(0, 255, 0, 0.2);
}

.cell.available-5 {
  background-color: rgba(0, 255, 0, 0.25);
}

.cell.available-4 {
  background-color: rgba(0, 255, 0, 0.3);
}

.cell.available-3 {
  background-color: rgba(0, 255, 0, 0.5);
}

.cell.available-2 {
  background-color: rgba(0, 255, 0, 0.7);
}

.cell.available-1 {
  background-color: rgba(0, 255, 0, 0.9);
}

.cell.available-0 {
  background-color: rgba(255, 0, 0, 1);
}

.cell:nth-child(3n):not(:nth-child(9n)) {
  margin-right: 2px;
}

.cell:nth-child(27n + 28),
.cell:nth-child(27n + 29),
.cell:nth-child(27n + 30),
.cell:nth-child(27n + 31),
.cell:nth-child(27n + 32),
.cell:nth-child(27n + 33),
.cell:nth-child(27n + 34),
.cell:nth-child(27n + 35),
.cell:nth-child(27n + 36) {
  margin-top: 2px;
}
