.board {
  display: flex;
  flex-direction: column;
}

.board .row {
  display: flex;
}

.board .row .cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.board .row .cell.active {
  border: 2px solid green;
}
